.WeatherTemperature.temperature {
  margin-top: 80px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  color: #212121;
}

.WeatherTemperature.unit-C {
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -43px;
  color: #212121;
  font-size: 20px;
}
.unit-F {
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -43px;
  color: #212121;
  font-size: 20px;
}
